{{extend 'layout.html'}}
<style>
.container {
  padding-right: 15px;
  padding-left: 15px;
}

td {
    width: 25%;
    height: 50px;
    padding:0px !important;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 14px;
}
.course{
    background-color: #64BFFF;
    width: 100%;
    height: 100%;
    display: block;
}
.course div {
    padding:10px;
}
td.highlighted {
    color:black !important;
    border:2px grey dashed !important;
}
.course.warning{
    background-color: red !important;
}
.course.math {
    background:#70E899;
}
.course.fe {
    background:#FF9E8E;
}
</style>

<script type="text/javascript">
// JSON DATA
var original_data =
[{"credits": "10", "level": "G1N", "code": "1DT051", "period": "11", "name": "Introduktion till informationsteknologi"},
{"credits": "5", "level": "G1N", "code": "1MA010", "period": "11", "name": "Baskurs i matematik"},
{"credits": "(10)", "level": "G1F", "code": "1DL201", "period": "12", "name": "Programkonstruktion och datastrukturer"},
{"credits": "5", "level": "G1F", "code": "1MA004", "period": "12", "name": "Algebra I"},
{"credits": "(10) 20", "level": "G1F", "code": "1DL201", "period": "13", "name": "Programkonstruktion och datastrukturer"},
{"credits": "(5)", "level": "G1F", "code": "1MA013", "period": "13", "name": "Envariabelanalys"},
{"credits": "10", "level": "G1F", "code": "1DT093", "period": "14", "name": "Datorarkitektur "},
{"credits": "(5) 10", "level": "G1F", "code": "1MA013", "period": "14", "name": "Envariabelanalys"},
{"credits": "(10)", "level": "G1F", "code": "1DL221", "period": "21", "name": "Imperativ och objektorienterad programmeringsmetodik"},
{"credits": "5", "level": "G1F", "code": "1MA025", "period": "21", "name": "Linj\u00e4r algebra och geometri I"},
{"credits": "5", "level": "G1F", "code": "1DL500", "period": "22", "name": "Automater och logik i modellering av IT-system"},
{"credits": "(10) 20", "level": "G1F", "code": "1DL221", "period": "22", "name": "Imperativ och objektorienterad programmeringsmetodik"},
{"credits": "5", "level": "G1F", "code": "1MA024", "period": "23", "name": "Linj\u00e4r algebra II"},
{"credits": "5", "level": "G1F", "code": "1DT044", "period": "23", "name": "Operativsystem I"},
{"credits": "5", "level": "G1F", "code": "1MS005", "period": "24", "name": "Sannolikhet och statistik"},
{"credits": "10", "level": "G1F", "code": "1TE717", "period": "24", "name": "Digitalteknik och elektronik"},
{"credits": "5", "level": "G1F", "code": "1DT052", "period": "31", "name": "Datakommunikation I"},
{"credits": "5", "level": "G1F", "code": "1TD394", "period": "31", "name": "Ber\u00e4kningsvetenskap"},
{"credits": "5", "level": "G1F", "code": "1MA034", "period": "31", "name": "Transformmetoder"},
{"credits": "(5)", "level": "G2F", "code": "1TE682", "period": "32", "name": "Signaler och inbyggda system"},
{"credits": "5", "level": "G1F", "code": "1MA012", "period": "32", "name": "Diskret matematik"},
{"credits": "5", "level": "G1F", "code": "2FE025", "period": "32", "name": "F\u00f6retagsekonomi, baskurs A/B"},
{"credits": "(5)10", "level": "G2F", "code": "1TE682", "period": "33", "name": "Signaler och inbyggda system"},
{"credits": "5", "level": "G1N", "code": "1MD016", "period": "33", "name": "M\u00e4nniska-datorinteraktion"},
{"credits": "5", "level": "G1F", "code": "1DL300", "period": "33", "name": "Databasteknik I"},
{"credits": "15", "level": "G2E", "code": "1DT350", "period": "34", "name": "Sj\u00e4lvst\u00e4ndigt arbete i informationsteknologi"},
{"credits": "5", "level": "G2F", "code": "1DT002", "period": "34.", "name": "Uppsatsmetodik"},
{"credits": "5", "level": "G1F", "code": "1RT155", "period": "34.", "name": "Modellelering av dynamiska system "},
{"credits": "10", "level": "A1N", "code": "1DT092", "period": "34.", "name": "Internationell mjukvaruutveckling, projekt"}];
</script>

<script type="text/javascript">
$( document ).ready(function() {
    var localdata = JSON.parse(localStorage.getItem("synced_data"));
    var data = localdata || original_data;
    var course_data = [];

    /* Helper methods */
    function init_td(x, y, free) {
        free = (typeof free === "undefined") ? true : free;
        return {x: x, y: y, free: free};
    }

    function course_class(course_code) {
        var type_class;
        switch(course_code.substring(1,3)) {
            case "MS":
            case "MA":
                type_class = "math";
                break;
            case "FE":
                type_class = "fe";
                break;
            default:
                type_class = "tech";
                break;
        }

        return type_class;
    }

    /* Populate methods */
    var $studyplans = $(".studyplan");
    manage_data(data);

    $studyplans.each(function(index, studyplan) {
        init_studyplan_pos(data, index+1);
        init_grid($(studyplan), course_data, index+1)
        populate_studyplan($(studyplan), course_data, index+1);

    });
    function year_data(data, year){
        var data_year = [];
        data.forEach(function (course) {
            var course_year = parseInt(course["period"].substring(0,1));
            if (course_year === year) {
                data_year.push(course);
            }
        });
        return data_year;
    }

    function init_studyplan_pos(data, year) {
        var data_year = year_data(data, year);
        var num_rows = find_rows_num(data_year, year);
        var start_period = 1+(year*10);
        var i;
        for (i = 0; i < num_rows; i++) {
            var k = 0;
            for (var period = start_period; period <= (start_period+3); period++) {
                var dup;
                for(var j = 0; j < data_year.length; j++) {
                    dup = false;
                    var course = data_year[j];
                    var course_period = parseInt(course["period"]);
                    if (course_period === period) {
                        data_year.splice(j, 1);
                        if (!course.position)
                            course.position = {x: k, y: i};

                        if (course.dup){
                            period++;
                            k++;
                        }
                        course_data.push(course);
                        break;
                    }
                }
                k++;
            }
        }
    }


    function populate_studyplan($studyplan, data, year) {
        var data_year = year_data(data, year);
        var num_rows = find_greatest_y(data_year);
        $studyplan.find("tbody > tr").each(function(y) {
            var $tr = $(this);
            $tr.children("td").each(function(x) {
                var $td = $(this);
                var position = {x:$td.data("x"), y:$td.data("y")};
                var course = find_course_by_pos(data_year, position);
                if (course) {
                    $td.html("<div class='course'><div>" + course["code"] + "  " + course["level"] + " <strong>" + course["credits"] +"HP</strong> <br>" + course["name"] + " y:" + String(course.position.y) + " x:" + String(course.position.x) + "</div></div>");
                    var $course = $td.children(".course");
                    $course.data("course", course);
                    $course.addClass(course_class(course.code));
                    drop_help($td, course.dup, false);
                    if(course.dup) {
                        $course.width("200%");
                    }
                }
            })
        });
    }

    function find_course_by_pos(data, position) {
        for (var i = 0; i < data.length; i++) {
            var course = data[i];
            if(course.position.x == position.x && course.position.y == position.y) {
                return course;
            }
        }
        return null;
    }

    function init_grid($studyplan, data, year) {
        var data_year = year_data(data, year);
        var num_rows = find_greatest_y(data_year) + 1; // +1 Because we like to palayey

        for (var i = 0; i < num_rows; i++) {
            var $tr = $("<tr></tr>");
            for (var j = 0; j < 4; j++) {
                var $td = $("<td class='td_course'>").droppable();
                var itd = init_td($tr.children("td").length, i);
                $td.data(itd);
                $tr.append($td);
            }
            $studyplan.append($tr);
        }
    }


    function find_greatest_y(data) {
        var max = 0;
        data.forEach(function (course) {
            if (course.position.y > max) {
                max = course.position.y;
            }
        })
        return max + 1;
    }

    function find_rows_num(data, year) {
        var prev_period = null;
        var max_rows = 0;
        var period_rows = 1;
        data.forEach(function (course) {
            var course_period = parseInt(course["period"].substring(1,2));
            var course_year = parseInt(course["period"].substring(0,1));
            if (year === course_year) {
                if (course_period == prev_period) {
                    period_rows++;
                }
                else {
                    period_rows = 1;
                }
                if (period_rows > max_rows) {
                    max_rows = period_rows;
                }
            }

            prev_period = course_period;
        });
        return max_rows;
    }

    function manage_data(data) {
        data.sort(function (a, b) {
        var period_a = parseInt(a.period);
        var period_b = parseInt(b.period);

        if (period_a < period_b) return -1;
        if (period_a > period_b) return 1;
        return 0;
        });
        data.forEach(function (course){
            var occurrence = 0;
            var course_code = course.code;
            for(var i = 0; i < data.length; i++){
                if(data[i].code == course_code){
                    occurrence++;
                    if(occurrence > 1){
                        course.dup = true;
                        course.credits = course.credits + " " + data[i].credits;
                        data.splice(i, 1);
                    }
                }
            }
        });
    }

    $(".course").draggable({
        snap: false,
        cursor: "move",
        revert: "invalid"
    });

    $(".course").on("dragstart", function(event, ui) {
        var parent = $(this).parent(".td_course");
        var course = $(this).data("course");
        $(this).css("z-index", "100").css("opacity", "0.7");
        drop_help(parent, course.dup, true);
    });

    $(".course").on("dragstop", function(event, ui) {
        var parent = $(this).parent(".td_course");
        var course = $(this).data("course");
        $(this).css("z-index", "1").css("opacity", "1").removeClass("warning");
        drop_help(parent, course.dup, false);
    });

    function drop_help(target, dup, free) {
        target.data("free", free);
        if (dup === true) {
            target.next().data("free", free);
        }
    }

    function sync_data() {
        var data = [];
        $(".course").each(function() {
            data.push($(this).data("course"));

        });
        localStorage.setItem("synced_data", JSON.stringify(data));
    }

    function needs_another_row(table, y) {
        var $table = $(table);
        return (y+1) == ($table.find("tr").length -1);
    }

    function add_table_row(table, y) {
        y++;
        var $table = $(table);
        var $tr = $("<tr></tr>");
         for (var j = 0; j < 4; j++) {
            var $td = $("<td class='td_course'>").droppable({
                        accept: ".course",
                        tolerance: "pointer"
                    }).on("drop", drop_event)
                    .on("dropover", dropover_event)
                    .on("dropout", dropout_event);
            var itd = init_td($tr.children("td").length, y);
            $td.data(itd);
            $tr.append($td);
        }
        $table.append($tr);
    }

    function dropout_event(event, ui){
        var course_data = ui.draggable.data("course");
            $(this).removeClass("highlighted");
            if(course_data.dup){
                $(this).next().removeClass("highlighted");
            }
    };

    function dropover_event(event, ui){
        var course_data = ui.draggable.data("course");
        $(this).addClass("highlighted");
        if(course_data.dup){
            $(this).next().addClass("highlighted");
        }
        if(!$(this).data("free")){
            ui.draggable.addClass("warning");
        }
        else{
            ui.draggable.removeClass("warning");
        }
        if(course_data.dup && (($(this).data().x === 3) || !$(this).next().data("free"))){
            ui.draggable.addClass("warning");
        }
    };

    function drop_event(event, ui) {
        var data = $(this).data();
        var draggable_data = ui.draggable.data("course");
        var parent = ui.draggable.parent(".td_course");
        var next_free = $(this).next().data("free");

        ui.draggable.removeClass("warning");
        $(this).removeClass("highlighted");

        if(draggable_data.dup){
            $(this).next().removeClass("highlighted");
        }

        $element = ui.draggable.css("left", 0).css("top", 0);
        if(data.free === true && !(draggable_data.dup === true && (data.x === 3 || !next_free))) {
            var table = $(this).parent().parent().parent()[0];
            var position = {x: data.x, y: data.y};
            $(this).append($element);
            drop_help($(this), draggable_data.dup, false);
            drop_help(parent, draggable_data.dup, true);
            draggable_data.position = position;
            draggable_data.period = table.getAttribute("data-year") + String(data.x+1);
            sync_data();
            debugger;
            needs_another_row(table, position.y) && add_table_row(table, position.y);
        }
    }

    $(".td_course").droppable({
        accept: ".course",
        tolerance: "pointer"
    }).on("drop", drop_event).on("dropover", dropover_event).on("dropout", dropout_event);
});

</script>

<div class="container">
    <h1>Studieplan för IT 2013/1014 (år 1-3)</h1>
    <div class="table-responsive">
        <h2>År 1</h2>
        <table data-year="1" class="studyplan table table-bordered">
            <thead>
                <tr>
                    <th>Period 1</th>
                    <th>Period 2</th>
                    <th>Period 3</th>
                    <th>Period 4</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h2>År 2</h2>
        <table data-year="2" class="studyplan table table-bordered">
            <thead>
                <tr>
                    <th>Period 1</th>
                    <th>Period 2</th>
                    <th>Period 3</th>
                    <th>Period 4</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h2>År 3</h2>
        <table data-year="3" class="studyplan table table-bordered">
            <thead>
                <tr>
                    <th>Period 1</th>
                    <th>Period 2</th>
                    <th>Period 3</th>
                    <th>Period 4</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>