{{extend 'layout.html'}}

<script type="text/javascript">
	$(document).ready(function() {
	    $(".search-studyplan" ).autocomplete({
	    	minLength: 3,
		    source: function(request, response){
		        $.ajax({
		            type: "GET",
		            dataType: "json",
		            url: "http://127.0.0.1:8000/coursefy/api/courses/"+request.term,
		            success: function(data){
		            	console.log("success");
		                response($.map(data, function(item) {
		                    return {
		                        label: item.kurskod,
		                        data: item
		                    }
		                }));
		            }
		        });
		    },
		    select: function(event, ui){
		        window.location = "http://127.0.0.1:8000/coursefy/default/studyplan/" + ui.item.data.kurskod;
		    }
	    });
	});
</script>

<div class="jumbotron">
	<div class="container">
		<center><h1>Coursefy</h1></center>
		<br />
		  <input type="text" class="form-control search-studyplan" placeholder="Sök studieplan">
	</div>
</div>