{{extend 'layout.html'}}
<link rel="stylesheet" media="all" href="{{=URL('static', 'css/style.css')}}">

<script type="text/javascript">
</script>
<script src="{{=URL('static', 'js/coursefy.js')}}" type="text/javascript"></script>
<div class="row">
    <div class="container col-md-1">
        <ul class="legend">
            <li class="legend-item" style="background-color: #d0ebff;"></li> <p class="legend-text">G1N</p><br />
            <li class="legend-item" style="background-color: #92d2ff;"></li> <p class="legend-text">G1F</p><br />
            <li class="legend-item" style="background-color: #5aabe5;"></li> <p class="legend-text">G2F</p><br />
            <li class="legend-item" style="background-color: #4685b2;"></li> <p class="legend-text">G2E</p><br />
            <li class="legend-item" style="background-color: #b7f3cc;"></li> <p class="legend-text">A1N</p><br />
            <li class="legend-item" style="background-color: #8cecad;"></li> <p class="legend-text">A1F</p><br />
            <li class="legend-item" style="background-color: #70e899;"></li> <p class="legend-text">A2F</p><br />
            <li class="legend-item" style="background-color: #59b97a;"></li> <p class="legend-text">A2E</p><br />
            <strong title="Obligatoriska kurser är markerade med fetstil" style="cursor: help; border-bottom: 1px dashed #000;">
                Obl. kurs</strong>
        </ul>
    </div>
    <div class="container col-md-8">
        <h1 class="studyplan-name"></h1>
        <div class="table-responsive main-table">
        </div>
    </div>
    <div class="col-md-3 information-box">
        <div class="side-bar-wrap">
            <div class="course-search banner dropdown"><img height="12px" width="12px" src="{{=URL('static', 'images/icon-up.png')}}"/>
                SÖK KURSER</div>
            <div class="search-information">
                <input class="search-course" type='text' name='username' size='30' placeholder='Ange kurskod eller kursnamn' />
                <div id="spawnCourse"></div>
            </div>
        </div>
        <div class="side-bar-wrap">
            <div class="course-data banner dropdown"><img height="12px" width="12px" src="{{=URL('static', 'images/icon-up.png')}}"/> KURSINFORMATION</div>
            <div class="course-information">
                <h3 class="course_header"></h3>
                <div class="course_hp"></div>
                <div class="course_level"></div>
                <div class="course_code"></div>
                <div class="course_subjects"></div>
                <div class="course_requirements"></div>
                <div class="course_examination"></div>
            </div>
        </div>
    </div>
</div>