{{extend 'layout.html'}}
<link rel="stylesheet" media="all" href="{{=URL('static', 'css/style.css')}}">

<script type="text/javascript">
// JSON DATA
var original_data =
[{"credits": "10", "level": "G1N", "code": "1DT051", "period": "11", "name": "Introduktion till informationsteknologi"},
{"credits": "5", "level": "G1N", "code": "1MA010", "period": "11", "name": "Baskurs i matematik"},
{"credits": "(10)", "level": "G1F", "code": "1DL201", "period": "12", "name": "Programkonstruktion och datastrukturer"},
{"credits": "5", "level": "G1F", "code": "1MA004", "period": "12", "name": "Algebra I"},
{"credits": "(10) 20", "level": "G1F", "code": "1DL201", "period": "13", "name": "Programkonstruktion och datastrukturer"},
{"credits": "(5)", "level": "G1F", "code": "1MA013", "period": "13", "name": "Envariabelanalys"},
{"credits": "10", "level": "G1F", "code": "1DT093", "period": "14", "name": "Datorarkitektur "},
{"credits": "(5) 10", "level": "G1F", "code": "1MA013", "period": "14", "name": "Envariabelanalys"},
{"credits": "(10)", "level": "G1F", "code": "1DL221", "period": "21", "name": "Imperativ och objektorienterad programmeringsmetodik"},
{"credits": "5", "level": "G1F", "code": "1MA025", "period": "21", "name": "Linj\u00e4r algebra och geometri I"},
{"credits": "5", "level": "G1F", "code": "1DL500", "period": "22", "name": "Automater och logik i modellering av IT-system"},
{"credits": "(10) 20", "level": "G1F", "code": "1DL221", "period": "22", "name": "Imperativ och objektorienterad programmeringsmetodik"},
{"credits": "5", "level": "G1N", "code": "1MD016", "period": "23", "name": "M\u00e4nniska-datorinteraktion"},
{"credits": "5", "level": "G1F", "code": "1MA024", "period": "23", "name": "Linj\u00e4r algebra II"},
{"credits": "5", "level": "G1F", "code": "1DT044", "period": "23", "name": "Operativsystem I"},
{"credits": "5", "level": "G1F", "code": "1MS005", "period": "24", "name": "Sannolikhet och statistik"},
{"credits": "10", "level": "G1F", "code": "1TE717", "period": "24", "name": "Digitalteknik och elektronik"},
{"credits": "5", "level": "G1F", "code": "1DT052", "period": "31", "name": "Datakommunikation I"},
{"credits": "5", "level": "G1F", "code": "1TD394", "period": "31", "name": "Ber\u00e4kningsvetenskap"},
{"credits": "5", "level": "G1F", "code": "1MA034", "period": "31", "name": "Transformmetoder"},
{"credits": "(5)", "level": "G2F", "code": "1TE682", "period": "32", "name": "Signaler och inbyggda system"},
{"credits": "5", "level": "G1F", "code": "1MA012", "period": "32", "name": "Diskret matematik"},
{"credits": "5", "level": "G1F", "code": "2FE025", "period": "32", "name": "F\u00f6retagsekonomi, baskurs A/B"},
{"credits": "(5)10", "level": "G2F", "code": "1TE682", "period": "33", "name": "Signaler och inbyggda system"},
{"credits": "5", "level": "G1N", "code": "1MD016", "period": "33", "name": "M\u00e4nniska-datorinteraktion"},
{"credits": "5", "level": "G1F", "code": "1DL300", "period": "33", "name": "Databasteknik I"},
{"credits": "15", "level": "G2E", "code": "1DT350", "period": "34", "name": "Sj\u00e4lvst\u00e4ndigt arbete i informationsteknologi"},
{"credits": "5", "level": "G2F", "code": "1DT002", "period": "34", "name": "Uppsatsmetodik"},
{"credits": "10", "level": "A1N", "code": "1DT092", "period": "34", "name": "Internationell mjukvaruutveckling, projekt"},
{"credits": "5", "level": "A1N", "code": "1DL250", "period": "41", "name": "Programvaruteknik"},
{"credits": "5", "level": "A1N", "code": "1DL241", "period": "42", "name": "Avancerad programvarudesign"},
{"credits": "5", "level": "A1N", "code": "1DT072", "period": "42", "name": "S\u00e4kra datorsystem I"},
{"credits": "10", "level": "A1N", "code": "1DT074", "period": "42", "name": "Datakommunikation II"},
{"credits": "10", "level": "A1N", "code": "1DT074", "period": "43", "name": "Datakommunikation II"},
{"credits": "10", "level": "A1N", "code": "1DT024", "period": "43", "name": "Avancerad datorarkitektur"},
{"credits": "10", "level": "A1N", "code": "1DT024", "period": "44", "name": "Avancerad datorarkitektur"},
{"credits": "5", "level": "A1F", "code": "1DT073", "period": "44", "name": "S\u00e4kra datorsystem II"},
{"credits": "5", "level": "A1F", "code": "1DT082", "period": "44", "name": "Datakommunikation III"},
{"credits": "30", "level": "A1F", "code": "1DT065", "period": "51", "name": "Projekt IT"},
{"credits": "30", "level": "A1F", "code": "1DT065", "period": "52", "name": "Projekt IT"},
{"credits": "10", "level": "A1N", "code": "1DT004", "period": "41", "name": "Realtidssystem"},
{"credits": "5", "level": "G2F", "code": "1RT485", "period": "42", "name": "Introduktion till datorbaserade reglersystem"},
{"credits": "5", "level": "A1N", "code": "1TE723", "period": "42", "name": "Programmering av enkapseldatorer"},
{"credits": "10", "level": "A1F", "code": "1DT077", "period": "42", "name": "Tr\u00e5dl\u00f6s kommunikation och inbyggda system"},
{"credits": "10", "level": "A1F", "code": "1DT077", "period": "43", "name": "Tr\u00e5dl\u00f6s kommunikation och inbyggda system"},
{"credits": "10", "level": "A1F", "code": "1DT056", "period": "43", "name": "Programmering av inbyggda system"},
{"credits": "10", "level": "A1F", "code": "1DT056", "period": "44", "name": "Programmering av inbyggda system"},
{"credits": "5", "level": "A1N", "code": "1RT495", "period": "51", "name": "Reglerteknik II"},
{"credits": "15", "level": "A1F", "code": "1RT911", "period": "52", "name": "Inbyggda styrsystem, projekt"},
{"credits": "15", "level": "A1N", "code": "1DT012", "period": "41", "name": "IT i samh\u00e4llet"},
{"credits": "15", "level": "A1N", "code": "1DT012", "period": "42", "name": "IT i samh\u00e4llet"},
{"credits": "5", "level": "A1N", "code": "1MD002", "period": "43", "name": "Gr\u00e4nssnittsprogrammering I"},
{"credits": "5", "level": "A1N", "code": "1MD001", "period": "43", "name": "Avancerad interaktionsdesign"},
{"credits": "5", "level": "A1N", "code": "1MD000", "period": "43", "name": "Anv\u00e4ndarcentrerad systemdesign"},
{"credits": "5", "level": "A1F", "code": "1MD003", "period": "44", "name": "Gr\u00e4nssnittsprogrammering II"},
{"credits": "5", "level": "A1N", "code": "1MD004", "period": "44", "name": "IT, etik och organisation"},
{"credits": "5", "level": "A1N", "code": "1MD017", "period": "44", "name": "IT-system och m\u00e4nniskor i samspel"},
{"credits": "15", "level": "A1F", "code": "1MD027", "period": "52", "name": "Universell design och utv\u00e4rdering"},
{"credits": "10", "level": "A1N", "code": "1DL540", "period": "41", "name": "Spr\u00e5kabstraktioner f\u00f6r parallell programmering"},
{"credits": "10", "level": "A1N", "code": "1DL540", "period": "42", "name": "Spr\u00e5kabstraktioner f\u00f6r parallell programmering"},
{"credits": "10", "level": "A1N", "code": "1DL600", "period": "42", "name": "Testning och underh\u00e5lls-programmering"},
{"credits": "10", "level": "A1N", "code": "1DL600", "period": "43", "name": "Testning och underh\u00e5lls-programmering"},
{"credits": "5", "level": "A1N", "code": "1DL550", "period": "43", "name": "L\u00e5gniv\u00e5-parallellprogrammering"},
{"credits": "10", "level": "A1N", "code": "1DT024", "period": "43", "name": "Avancerad datorarkitektur"},
{"credits": "10", "level": "A1N", "code": "1DT024", "period": "44", "name": "Avancerad datorarkitektur"},
{"credits": "5", "level": "A1F", "code": "1DL570", "period": "44", "name": "Testning av parallell programvara"},
{"credits": "5", "level": "A1F", "code": "1DL560", "period": "51", "name": "Programmering av effektiva parallella program"},
{"credits": "5", "level": "A1N", "code": "1TD389", "period": "41", "name": "Vetenskaplig visualisering"},
{"credits": "5", "level": "G1F", "code": "1TD395", "period": "41", "name": "Ber\u00e4kningsvetenskap II"},
{"credits": "5", "level": "A1F", "code": "1MD025", "period": "41", "name": "Perception och visuell design"},
{"credits": "5", "level": "A1N", "code": "1DL340", "period": "41", "name": "Artificiell intelligens"},
{"credits": "10", "level": "A1N", "code": "1DT061", "period": "41", "name": "Datavetenskapens didaktik"},
{"credits": "10", "level": "A1N", "code": "1DT061", "period": "42", "name": "Datavetenskapens didaktik"},
{"credits": "10", "level": "A1N", "code": "1DL440", "period": "41", "name": "Villkorsprogrammering"},
{"credits": "10", "level": "A1N", "code": "1DL440", "period": "42", "name": "Villkorsprogrammering"},
{"credits": "5", "level": "G1F", "code": "1DL321", "period": "42", "name": "Kompilatorteknik I"},
{"credits": "5", "level": "G1F", "code": "1MA170", "period": "42", "name": "Grafteori"},
{"credits": "5", "level": "A1N", "code": "1TD184", "period": "42", "name": "Optimeringsmetoder"},
{"credits": "5", "level": "A1N", "code": "1TD396", "period": "42", "name": "Datoriserad bildanalys I"},
{"credits": "5", "level": "A1N", "code": "1DL360", "period": "42", "name": "Informationsutvinning I"},
{"credits": "5", "level": "A1N", "code": "1MD020", "period": "42", "name": "Avancerade visuella gr\u00e4nssnitt"},
{"credits": "5", "level": "G1F", "code": "1DL231", "period": "42", "name": "Algoritmer och datastrukturer II"},
{"credits": "5", "level": "A1N", "code": "1DL400", "period": "43", "name": "Databasteknik II"},
{"credits": "5", "level": "A1N", "code": "1DL420", "period": "43", "name": "Kompilatorteknik projekt"},
{"credits": "5", "level": "G1F", "code": "1MA021", "period": "43", "name": "Komplex analys, allm\u00e4n kurs"},
{"credits": "5", "level": "A1N", "code": "1DT075", "period": "43", "name": "Kryptologi"},
{"credits": "5", "level": "A1F", "code": "1MD030", "period": "43", "name": "Medicinsk informatik"},
{"credits": "10", "level": "A1F", "code": "1TD398", "period": "43", "name": "Datoriserad bildanalys II"},
{"credits": "5", "level": "G1F", "code": "1MA017", "period": "43", "name": "Flervariabelanalys,allm\u00e4nkurs"},
{"credits": "10", "level": "A1N", "code": "1FA326", "period": "43", "name": "Digital elektronikkonstruktion med VHDL"},
{"credits": "10", "level": "A1N", "code": "1DL520", "period": "43", "name": "Kompilatorteknik II"},
{"credits": "10", "level": "A1N", "code": "1DL520", "period": "44", "name": "Kompilatorteknik II"},
{"credits": "10", "level": "A1N", "code": "1DT071", "period": "43", "name": "Maskininl\u00e4rning"},
{"credits": "10", "level": "A1N", "code": "1DT071", "period": "44", "name": "Maskininl\u00e4rning"},
{"credits": "5", "level": "A1F", "code": "1DL260", "period": "44", "name": "Programvaruteknik II \u2013 v\u00e4rdestyrd programvaruteknik"},
{"credits": "5", "level": "A1F", "code": "1DL460", "period": "44", "name": "Informationsutvinning II"},
{"credits": "5", "level": "A1N", "code": "1TD204", "period": "44", "name": "Programvaruarkitektur med Java"},
{"credits": "10", "level": "A1N", "code": "1TD388", "period": "44", "name": "Datorgrafik"},
{"credits": "5", "level": "A1N", "code": "1TD351", "period": "44", "name": "H\u00f6gprestandaber\u00e4kningar och programmering"},
{"credits": "5", "level": "A1F", "code": "1TD267", "period": "44", "name": "Stora datam\u00e4ngder inom vetenskapliga till\u00e4mpningar"},
{"credits": "10", "level": "A1N", "code": "1DT092", "period": "44", "name": "Internationell mjukvaruutveckling, projekt"},
{"credits": "5", "level": "G2F", "code": "1DT081", "period": "valfri", "name": "Projektarbete i informationsteknologi"},
{"credits": "10", "level": "G2F", "code": "1DT088", "period": "valfri", "name": "Projektarbete i informationsteknologi"},
{"credits": "5", "level": "A1N", "code": "1TD397", "period": "51", "name": "Ber\u00e4kningsvetenskap III"},
{"credits": "10", "level": "A1F", "code": "1DT059", "period": "51", "name": "Modellbaserad utveckling av inbyggd programvara"},
{"credits": "10", "level": "A1N", "code": "1DT061", "period": "51", "name": "Datavetenskapens didaktik"},
{"credits": "10", "level": "A1N", "code": "1DT061", "period": "52", "name": "Datavetenskapens didaktik"},
{"credits": "10", "level": "A1N", "code": "1TE651", "period": "51", "name": "Signalbehandling"},
{"credits": "10", "level": "A1N", "code": "1TE651", "period": "52", "name": "Signalbehandling"},
{"credits": "15", "level": "A1F", "code": "1TD307", "period": "52", "name": "Projekt i till\u00e4mpad ber\u00e4kningsvetenskap"},
{"credits": "30", "level": "A2E", "code": "1DT960", "period": "53", "name": "Examensarbete i informationsteknologi"},
{"credits": "30", "level": "A2E", "code": "1DT960", "period": "54", "name": "Examensarbete i informationsteknologi"}];
</script>

<script src="{{=URL('static', 'js/coursefy.js')}}" type="text/javascript"></script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="container col-md-8">
        <h1>Studieplan för IT 2013/1014 (år 1-3)</h1>
        <div class="table-responsive">
            <a href="/coursefy/default/studyplan" onclick="localStorage.clear()">Reset</a>
            <h2>År 1</h2>
            <table data-year="1" class="studyplan table table-bordered">
                <thead>
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                        <th>Period 4</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <h2>År 2</h2>
            <table data-year="2" class="studyplan table table-bordered">
                <thead>
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                        <th>Period 4</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <h2>År 3</h2>
            <table data-year="3" class="studyplan table table-bordered">
                <thead>
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                        <th>Period 4</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <h2>År 4</h2>
            <table data-year="4" class="studyplan table table-bordered">
                <thead>
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                        <th>Period 4</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <h2>År 5</h2>
            <table data-year="5" class="studyplan table table-bordered">
                <thead>
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                        <th>Period 4</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 information-box">

        <div style="width: 100%; min-height: 400px;">
            <div class="course-search banner dropdown"><img height="12px" width="12px" src="{{=URL('static', 'images/icon-up.png')}}"/>
                HANTERA KURSER</div>
            <div class="search-information">
                Sök: <input class="search-course" type='text' name='username' size='30' placeholder='Ange kurskod eller kursnamn' />
                <div id="spawnCourse"></div>
            </div>
            <div class="course-data banner dropdown"><img height="12px" width="12px" src="{{=URL('static', 'images/icon-up.png')}}"/> KURSINFORMATION</div>
            <div class="course-information">
                <h3 class="course_header"></h3>
                <div class="course_hp"></div>
                <div class="course_level"></div>
                <div class="course_code"></div>
                <div class="course_requirements"></div>
                <div class="course_examination"></div>
            </div>
        </div>
    </div>
</div>