.container {
  padding-right: 15px;
  padding-left: 15px;
}

td {
    width: 25%;
    height: 50px;
    padding:0px !important;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 14px;
}
.course{
    background-color: #64BFFF;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
.course div {
    padding:10px;
}
.course.extend {
    width:200.5%;
}
td.highlighted {
    color:black !important;
    border:2px grey dashed !important;
}
.course.warning{
    background-color: red !important;
}
.course.math {
    background:#70E899;
}
.course.fe {
    background:#FF9E8E;
}
.course.focused div:nth-child(3) {
    border: 2px black solid;
    height: 100%;
}
.removeCourse{
    background-image: url('../images/cross-24.png');
    background-size:12px 12px;
    background-position:center;
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.expandCourse{
    background-image: url('../images/arrow.png');
    background-size:12px 12px;
    background-position:center;
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    position: absolute;
    right: 0px;
    top: 16px;
}
.information-box{
    position: fixed;
    right: 10px;
    top: 100px;
}
.search-information{
    padding: 10px 0px 10px 10px;
    border:2px blue solid;
    width: 100%;
    height:  auto;
    min-height: 100px;
}
.course-information{
    padding: 0px 0px 10px 10px;
    border:2px green solid;
    width: 100%;
    height: auto;
    min-height: 100px;
}
.warning-information{
    padding: 10px 0px 10px 10px;
    border:2px red solid;
    width: 100%;
    height:  auto;
    min-height: 100px;
}
.course-search{
    background-color: #64BFFF;
}
.course-data{
    background-color: #70E899;
}
.course-warning{
    background-color: #E33636;
}
.banner{
    cursor: pointer;
    font-weight: bold;
    color: #3D453D;
    padding-left: 40px;
}
.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}